#mynetwork {
    /*width: 98%;*/
    height: 98%;
    border: 1px solid lightgray;
    margin: 5px;
}

p {
    max-width: 600px;
}

h4 {
    margin-bottom: 3px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}